h1{
    text-align: center;
    text-decoration: solid;
    text-decoration-color: darkgrey;
    text-decoration-style: wavy;
    text-decoration-line: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 2px;
}